head
    script(src='//code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='/loadjs.min.js')

body
    div
        div 2 pageB - navigate. 4 spa - turbo, smoothstate, https://zinoui.com/demo/pushstate

        div 1 fetch some data and show it - some ways: dot, mustache, handlebars. how is different from ssr.
        div http://jsonplaceholder.typicode.com

    script.
        console.log('oh hi A')
        // 5: observer, fire page about to change event, or page changed. ex signals, but there are many
        //6 app shell. add page C

        //other https://www.youtube.com/watch?v=ZFVvpR1GfTc&t=2669s