head
    script(src='//code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='/loadjs.min.js')

body
    div
        div 3 go to pageA

        div 7 form - on click of button show data - jsForm, here

    script.
        console.log('oh hi B')